{{#each this}}
    <li class="terminal-item">
        <div class="context">
            <div class="name">{{name}}</div>
            <div class="value">{{value}}</div>
        </div>
        <div class="back-bar">
            <div class="outer-bar" style="width:{{barWidth}}">
                <div class="real-bar"></div>
            </div>
        </div>     
    </li>
{{/each}}