.return-btn{
    z-index: 10;
    position: absolute;
    top: 234px;
    left: 830px;
    height: 60px;
    width: 250px;
    font-size: 30px;
    line-height: 60px;
    text-indent: 47px;
    cursor: pointer;
    background: url(./images/return-btn.png) no-repeat 0 0/100% 100%;
}