<div class="topic-case">
    <div class="topic-title">本月专题警情</div>
    <div class="area-chart">
        <svg height={{height}} width={{width}}></svg>
    </div>
    <div class="unit">
        <div>单位</div>
        <div>(件)</div>
    </div>
</div>
