.topic-case{
    position: absolute;
    right: 60px;
    top: 1390px;
    width: 510px;
    height: 420px;
    .topic-title{
        width: 100%;
        height: 80px;
        color: #fff;
        font-size: 38px;
        text-indent: 106px;
        background: url(./images/topic-title.png) 0 0/ 100% 100% no-repeat;
    }
    .axis path, .axis line{
        stroke-width: 2
    }
    .area-chart{
        margin-left: 45px;
        background: url(./images/bg.png) 0 0/ 100% 100% no-repeat;
        .axis path,
        .axis line{
            fill: 'red';
            stroke-width: 0;
            shape-rendering: crispEdges;
        }
        .axis text{
            font-family: 'Microsoft YaHei';
            font-size: 24px;
            fill: #fff;
        }
    }
    .unit {
        position: absolute;
        top: 80px;
        left: -15px;
        font-size: 24px;
        color: #fff;
        line-height: 35px;
    }
}